.parent{
    background-color: blue;
    font-size: 50px;
}
.child1{
    position: relative;
    background-color: red;
    top: 30px;
}
.child2{
background-color: yellow;
}
.child3{
background-color: orange;
}